@model qldoansvhutech.Models.Doan

@{
    ViewBag.Title = "Dangkydoan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <center style="margin-bottom:80px">
        <h2 style="margin-top:50px">ĐĂNG KÝ ĐỒ ÁN SINH VIÊN</h2>

        <table style="width:40%" class="table table-borderless">
            <tr>
                <td>Tên đồ án: </td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="txtTenDoAn" /></td>
            </tr>
            <tr>
                <td>Mô tả đồ án: </td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="txtMoTa" /></td>
            </tr>
            <tr>
                <td>Loại đồ án : </td>
            </tr>
            <tr>
                <td>
                    <select name="radMaloai" class="form-control">
                        @foreach (var item in ViewBag.DSDA)
                        {
                            <option value="@item.Maloai">@item.Tenloai</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tên giảng viên hướng dẫn đồ án: </td>
            </tr>
            <tr>
                <td>
                    <select name="radMaGV" class="form-control">
                        @foreach (var item in ViewBag.DSGV)
                        {
                            <option value="@item.Magv">@item.Hotengv</option>
                        }
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" name="txtId" value="@ViewBag.Id"/>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng ký" class="btn btn-danger" />
            </div>
        </div>
    </center>
}