@using qldoansvhutech.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutSV.cshtml";
}
@{
    Sinhvien sv = (Sinhvien)Session["Mssv"];
}
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30">
                    <img src="~/Images/@sv.Hinh" class="rounded-circle" width="150">
                    <h4 class="card-title m-t-10">@sv.Hoten</h4>
                </center>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <small class="text-muted">Email</small>
                <h6>@sv.Email</h6>
                <small class="text-muted p-t-30 db">Số Điện Thoại</small>
                <h6>@sv.Sdt</h6>
                <br>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-body">
                <form method="post" action="@Url.Action("SuaSV", "SinhVien")" class="form-horizontal form-material">
                    <div class="form-group">
                        <label class="col-md-12">Họ Tên</label>
                        <div class="col-md-12">
                            <input type="text" name="txtHoTen" placeholder="@sv.Hoten" class="form-control form-control-line">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-12">Email</label>
                        <div class="col-md-12">
                            <input type="email" placeholder="@sv.Email" class="form-control form-control-line" name="txtEmail" id="example-email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Số Điện Thoại</label>
                        <div class="col-md-12">
                            <input type="text" name="txtSDT" placeholder="@sv.Sdt" class="form-control form-control-line">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12">Giới Tính</label>
                        <div class="col-sm-12">
                            <select name="chkGT" class="gioitinh">
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success">Cập nhật</button>
                        </div>
                    </div>
                    <input type="hidden" name="txtId" value="@sv.Id"/>
                </form>
            </div>
        </div>
    </div>
</div>

