@model IEnumerable<qldoansvhutech.Models.ptda>

@{
    ViewBag.Title = "PhuTrachDoAn";
    Layout = "~/Views/Shared/LayoutGV.cshtml";
}
<table class="table">
    <tr>
        <th>
            Mã giảng viên
        </th>
        <th>
            MSSV
        </th>
        <th>
            Mã Đồ Án
        </th>
        <th>
            Điểm
        </th>
        <th>
            Tùy Chọn
        </th>
    </tr>

   @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.magv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mssv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diem)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>
