@model IEnumerable<qldoansvhutech.Models.Sinhvien>

@{
    ViewBag.Title = "QuanLySinhVien";
    Layout = "~/Views/Shared/LayoutGV.cshtml";
    <script src="~/Scripts/jquery.min.js"></script>
}
<div class="container-fluid" style="margin-top:30px;width:70%;">
    <h1>QUẢN LÝ SINH VIÊN</h1>
    <a href="@Url.Action("ThemSinhVien","GiangVien")" class="btn btn-danger" style="margin-bottom:10px">Thêm mới sinh viên</a>
    <center>
        <div class="row">
            <div class="col-12">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <table style="margin-top:20px" class="table">
                    <thead>
                        <tr>
                            <th>
                                Mã số sinh viên:
                            </th>
                            <th>
                                Họ tên sinh viên:
                            </th>
                            <th>
                                Giới tính:
                            </th>
                            <th>
                                Email:
                            </th>
                            <th>
                                Số điện thoại:
                            </th>
                            <th>
                                Chức năng
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody id="myTable">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mssv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hoten)
                            </td>
                            <td>
                                @if (item.Gioitinh == true)
                                {
                                    <p>Nam</p>
                                }
                                else
                                {
                                    <p>Nữ</p>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sdt)
                            </td>
                            <td>
                                <a class="btn btn-danger" href="@Url.Action("XoaSinhVien","GiangVien",new { id = item.Id})" style="color:white">Xóa</a>
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </center>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
