@model IEnumerable<qldoansvhutech.Models.Sinhvien>
@using qldoansvhutech.Models

@{
    ViewBag.Title = "ThemSinhVien";
    Layout = "~/Views/Shared/LayoutGV.cshtml";
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
}
<form method="post" action="@Url.Action("ThemSinhVien","GiangVien")">
    <h1 style="color:red">@ViewBag.ThongBao</h1>
    <div class="container-fluid" style="margin-top:30px">
        <h2>THÊM SINH VIÊN <input class="btn btn-primary" type="submit" style="margin-bottom:10px; width:10%" id="btnThem" value="Thêm"></h2>
        <center>
            <input id="new" name="id" type="hidden" />
            <div class="row">
                <div class="col-12">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                    <table style="margin-top:20px" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    Mã số sinh viên:
                                </th>
                                <th>
                                    Họ tên sinh viên:
                                </th>
                                <th>
                                    Giới tính:
                                </th>
                                <th>
                                    Email:
                                </th>
                                <th>
                                    Số điện thoại:
                                </th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" class="chkId" value="@item.Id" /></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mssv)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hoten)
                                    </td>
                                    <td>
                                        @if (item.Gioitinh == true)
                                        {
                                            <p>Nam</p>
                                        }
                                        else
                                        {
                                            <p>Nữ</p>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sdt)
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </center>
    </div>
</form>

<script>
    var listID = "";
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $(".chkId").click(function () {
            if ($(this).is(":checked")) {
                let id = $(this).val();
                listID += id + ";";
                console.log(listID);
                $("#new").val(listID);
            }
        });
    });
</script>
